.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #343435;
}

.nasaImg {
  max-width: 1100px;
  height: 500px;
  border-radius: 5px;
}

@keyframes colorchange {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  75%  {background-color: pink;}
  100% {background-color: green;}
}

.renderbtn{
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: larger;
  box-shadow: 0px 1px 12px 12px rgba(3, 172, 250, 0.5);
  background-color: aliceblue;
  animation-name: colorchange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
